*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: grey;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
}
.music{
   background-color: rgb(236, 155, 182); 
   width: 360px;
   padding: 25px 35px;
   text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .music1{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    line-height: 40px;
    box-shadow: 0 5px 10px lightcoral;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(245, 244, 244);
    box-shadow: 0px 5px 8px rgb(239, 134, 134);
}
.music h1{
font-size: 20px;
font-weight: 400;
color: #333;
margin-top: 20px;
}
.music p{
    font-size: 14px;
    color: #333;
}
audio{
    margin-top: 20px;
}